.example {
    padding: 10px;
    border: 1px solid #ccc;
}
.drop_zone {
    position: relative;
    border: 2px dashed #bbb;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    padding: 100px;
    text-align: center;
    font: 20pt bold 'Vollkorn';
    color: #bbb;    background-position: center;
    background-repeat: no-repeat;    background-size: contain;
}
input[type="file"].dz-input{
    position: absolute;
    display: inline-block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0; 
}
