/*
Theme Name: Winnex
Theme URI: http://gaviasthemes.com/winnex/
Author URI: http://gaviasthemes.com/
Author: Gaviasthemes Team
Description: The 2018 theme for WordPress is a fully responsive theme that looks great on any device.
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: one-column, two-columns, right-sidebar, custom-background, custom-header, custom-menu, editor-style, featured-images, flexible-header, full-width-template, microformats, post-formats, sticky-post, theme-options, translation-ready
Text Domain: winnex

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.
*/
.wp-caption-text{
   font-weight: 400;
   font-size: 13px;
   color: #9e9e9e;
   margin-top: 4px;
}
.gallery-caption{
   font-weight: 600;
}
.bypostauthor{
   text-align: left;
}